[Unit]
Description=SSH key agent
Wants=environment.target
Before=environment.target
IgnoreOnIsolate=true
PartOf=sway-session.target

[Service]
Type=simple
ExecStartPre=%h/bin/ssh-agent-pre.sh
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=sway-session.target
