[Unit]
Description=SSH key agent
Wants=environment.target
Before=environment.target
IgnoreOnIsolate=true
PartOf=sway-session.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c "if [ -e \"$SSH_AUTH_SOCK_PATH\" ]; then echo \"Removing staled $SSH_AUTH_SOCK_PATH\" && rm \"$SSH_AUTH_SOCK_PATH\"; fi"
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=sway-session.target
