[Unit]
Description=SSH key agent
PartOf=sway-session.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c "if [ -e ${SSH_AUTH_SOCK} ]; then echo \"Removing staled ${SSH_AUTH_SOCK}\" && rm ${SSH_AUTH_SOCK}; fi"
ExecStart=/usr/bin/ssh-agent -D -a ${SSH_AUTH_SOCK}
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
