[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=ExecStart=/usr/bin/swayidle \
  timeout 240 'wlsunset -g 0.6' \
    resume 'pkill wlsunset' \
  timeout 300 '%h/.local/bin/sway/lock.sh' \
  timeout 600 'swaymsg "output * dpms off"' \
    resume 'swaymsg "output * dpms on"' \
  before-sleep '%h/.local/bin/sway/lock.sh'
ExecStop=/bin/kill -2 $MAINPID
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
