[Unit]
Description=A lightweight Wayland statusbar
Documentation=man:waybar(1)
Wants=environment.target
Before=environment.target
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
